<template>
  <div>
    <!-- <h2>Hola, bienvenido/a</h2>
    <br>

    <img src="http://bsigeonet.com.mx/resources/images/carousel/img-under-construction-02.png" alt=""> -->
    <vueper-slides autoplay fade :pauseOnHover="pauseOnHover" fixedHeight="92vh">
      <vueper-slide v-for="(slide, i) in slides" :key="i" :title="slide.title" :content="slide.content" :style="'background-color: ' + colors[i]"></vueper-slide>
    </vueper-slides>
  </div>
</template>
<script>
import { VueperSlides, VueperSlide } from "vueperslides";
export default {
  data: () => ({
    pauseOnHover: false,
    slides: [
      {
        title:
          "<img src='https://lh3.googleusercontent.com/MlRone1I18CQGiOWHHmN2x-jIDU53VxIOR9mveFba8uBnzsTfQn-9xHsfqR1ylgFaA=s180-rw'> <br> <h2>Escáner QR</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=com.rdcr.escanerqr'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      },
      {
        title:
          "<img src='https://lh3.googleusercontent.com/R5LZvXwEighq_KNuTZMeTCtbBFnT2P0UPOreMhI1FGG80xNMJyPrf2E6EJ-HMPgGoJa9=s180-rw'> <br> <h2>Radio</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=com.rdcr.radioApp'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      },
      {
        title:
          "<img src='https://lh3.googleusercontent.com/m1JiaQnDeRPYSedqIAlCq9VQEzcFBmvMf47AOT9Ey1p-pfeyuMxLEi4TdhzhQpekXJ3d=s180-rw'> <br> <h2>Lector QR</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=com.rdcr.lectorqr'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      },
      {
        title:
          "<img src='https://lh3.googleusercontent.com/YbuVFsNMUzWOSvjVDodmnWFDg9ObFuArF0NPCiO_fyOFXSCCAsv8YqOM7Pxtyhmd9yE=s180-rw'> <br> <h2>Vacío app</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=com.rdcr.vacio'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      },
      {
        title:
          "<img src='https://lh3.googleusercontent.com/kHA-nQtwY14PqxOurkQtRIgLoMjJaZzDuPitOrcupmbOYIedh27nmf7IeXs1D1uYs7c=s180-rw'> <br> <h2>UNEESMAG</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=unees.magdalena.app'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      },
      {
        title:
          "<img src='https://lh3.googleusercontent.com/clZLaXGUNHaIdNz6fMMDPl5cUS7f7xWY8eVD76T5f0-MC-Wkfh1GxayFq-YLFlmKImE=s180-rw'> <br> <h2>Enséñame</h2>",
        content:
          "<a href='https://play.google.com/store/apps/details?id=co.srcode.ensename'><img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/1024px-Get_it_on_Google_play.svg.png'></a>"
      }
    ],
    colors: [
      "rgb(33, 150, 243)",
      "rgb(238, 119, 82)",
      "rgb(35, 213, 171)",
      "rgb(35, 166, 213)",
      "#CDDC39",
      "#673AB7"
    ]
  }),
  components: { VueperSlides, VueperSlide }
};
</script>

<style>
body {
  overflow: hidden;
}
img {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  img {
    width: 40%;
  }
}
.vueperslides__bullet {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}
.vueperslides__bullet--active {
  background-color: #ff5252;
}
.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
}
.vueperslide__title {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
</style>

