<template>
  <div id="app">
    <header>
      <span>Actualidad Rc</span>
    </header>
    <main>
      <router-view></router-view>
      <vue-topprogress ref="topProgress"></vue-topprogress>
    </main>
  </div>
</template>

<script>
import { vueTopprogress } from "vue-top-progress";
export default {
  name: "app",
  mounted() {
    this.$refs.topProgress.start();

    // Use setTimeout for demo
    setTimeout(() => {
      this.$refs.topProgress.done();
    }, 2000);
  },
  components: {
    vueTopprogress
  }
};
</script>

<style>
body {
  margin: 0;
  background: #f4f4f4;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495e;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}

header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url("http://www.pedroapalma.com/site/wp-content/uploads/2016/06/tecnologia-empresarial-clave-en-la-actualidad.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
</style>
